
@{
    ViewBag.Title = "Index";
}
<style>
    #box {
        padding: 50px;
        background-color: rgb(127, 140, 141);
        transition: transform .2s;
        width: 250px;
        height: 200px;
        margin: 30px 10px;
    }
    #box:hover {
        transform: scale(1.1);
    }
</style>
<div class="container-md">
    <h3 style="color:green">Online Delivary</h3>
    <div class="shadow-lg p-3 mb-4 bg-white rounded d-inline-flex" id="box">
        <img src="~/Product/images.png" class="img-thumbnail" />
    </div>
    <div class="shadow-lg p-3 mb-4 bg-white rounded d-inline-flex" id="box">
        <img src="~/Product/on2.jpg" class="img-thumbnail" />
    </div>
    <div class="shadow-lg p-3 mb-4 bg-white rounded d-inline-flex" id="box">
        <img src="~/Product/onlineProducts.png" class="img-thumbnail" />
    </div>
    <div class="shadow-lg p-3 mb-4 bg-white rounded d-lg-inline-flex" id="box">
        <img src="~/Product/onlineProducts.png" class="img-thumbnail" />
    </div>
    <div class="shadow-lg p-3 mb-5 bg-white rounded d-inline-flex" id="box">
        <img src="~/Product/images.png" class="img-thumbnail" />
    </div>
    <div class="shadow-lg p-3 mb-5 bg-white rounded d-inline-flex" id="box">
        <img src="~/Product/on2.jpg" class="img-thumbnail" />
    </div>
    <div class="shadow-lg p-3 mb-5 bg-white rounded d-inline-flex" id="box">
        <img src="~/Product/onlineProducts.png" class="img-thumbnail" />
    </div>
    <div class="shadow-lg p-3 mb-5 bg-white rounded d-lg-inline-flex" id="box">
        <img src="~/Product/onlineProducts.png" class="img-thumbnail" />
    </div>
</div>